@use '../../index.scss' as *;

.welcomeSection {
  width: 100vw;
  height: 50.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-bg-dark;
  text-align: center;
}

.img {
  margin-bottom: 1.875rem;
  img {
    width: 62.5rem;
    height: 40.625rem;
  }
}