// :root {
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-dark: #030303;
$color-bg-dark: #030303;
$color-light: rgba(255, 255, 255, 1);
$color-dark-red: #710707;
$color-font-gold: #9d8665;

@mixin font(
  $size,
  $line-height: normal,
  $letter-spacing: normal,
  $color: inherit
) {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    Arial,
    sans-serif;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: $color-font-gold;
}

.active {
  color: $color-font-gold;
}

body {
  @include font(16px, 1.5, 1px, $color-dark);
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.container{
width: 90rem;
padding: 0 15px;
}
